.datatable {
    border:'1px solid red';
    position: relative;
    display: grid;
    grid-gap: 1px;
}

.datatable-head {
    background-color:darkgrey;
}

.datatable-head-cell {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    cursor: grab
}

.datatable-head-cell span {
    overflow-x: hidden;
}

.datatable-table {
    border-collapse:collapse;
}

.datatable-cell {
    border: 1px solid red;
}

.datatable-contentsdiv {
    overflow: auto;
    height:400px;
}

.datatable-expandbutton {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex-shrink: 0;
}

.datatable-sortbutton {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex-shrink: 0;
    align-self: right;
}